/*GENERAL RULES*/
body {
  background-color: black;
  color: white;
  font-family: "Merriweather", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
}

*:focus {
  outline-color: #4285F4;
}

/*HEADER*/
header {
  padding: 1rem;
  padding-top: 1rem;
  text-align: center;
  font-family: "Luckiest Guy", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

/*MAIN*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 0.9rem;
}

/*FORM*/
.player-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 0.8rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.player-one,
.player-two {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.player-one input[type="text"],
.player-two input[type="text"] {
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
}


.player-form button {
  justify-self: center;
  padding: 0.6rem 0;
  width: 10rem;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.player-form button[type="submit"] {
  justify-self: end;
}

.player-form button[type="button"] {
  justify-self: start;
}

.player-form button:hover {
  background-color: white;
  color: black;
}

.scores-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(17, 16, 16);
  border: 1px solid rgb(206, 205, 205);
}

.player-one-score {
  border-right: 1px solid white;
}

.player-two-score {
  border-left: 1px solid white;
}

.player-one-score,
.player-two-score {
  padding: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.declare-turn {
  color: rgb(145, 206, 133);
  font-size: 1.2rem;
  visibility: hidden;
}

.cells-container {
  display: grid;
  width: 25rem;
  height: 25rem;
  gap: 0.3rem;
  padding: 0.5rem;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: rgb(49, 47, 47);
  border-radius: 5px;
}

.cells {
  background-color: black;
  border: none;
  color: white;
  font-size: 3rem;
  font-family: "Bungee", sans-serif;
  border-radius: 10px;
}

.cells:hover {
  cursor: pointer;
  opacity: 0.6;
}